.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.05s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
body {
	background-color: #FFFFFF;
	color: #212529;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
	text-align: left;
	position: relative;
	font-family: Oxygen;
	height: 50%;
	-moz-transform: scale(0.70, 0.70);
	/* Moz-browsers */
	zoom: 0.70;
	/* Other non-webkit browsers */
	zoom: 70%;
	/* Webkit browsers */
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#personal li {
	list-style-type: none;
}
#Harvard {
	color: #6e0101;
}

#CS50 {
	color: #AB4300;
}

#Palantir {
	color: #000000;
}

#Glimpse {
	color: #5568e5;
}

#Glimpse {
	color: #5568e5;
}

#PPPL {
	color: purple;
}
#Princeton {
	color: #733000;
}
#LLP {
	color: green;
}
a:link {
	text-decoration: none;
}
#Biopticon {
	color: #002163;
}
#HCURA {
	color: #7A8841;
}
#GUSH {
	color: #8C0048;
}
#IACS {
	color: #193300;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: transparent
}
