body {
    background-color: #FFFFFF;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

a:link {
  color: blue;
}

#Harvard {
    color: #6e0101;
}

#PPPL {
    color:purple;
}

#Princeton {
    color: #733000;
}

#LLP {
    color:green;
}

#Biopticon {
    color: #002163;
}

input[type="text"] {
    line-height: 2.0;
    width: 30%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

/* Took this from Lab 8, since I really liked it! */
button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}


